{% extends "page.html" %}
{% block content %}
{% set frequency={0:'活跃',1:'使用',2:'占用',3:'离线',4:'废弃',5:'空闲'} %}
<table id="detail" class="auto">
    <thead>
        <tr class="selectNone">
            <th id="ipKey" class="order-asc">IP</th>
            <th id="macKey">MAC</th>
            <th id="nameKey">Name</th>
            <th id="commentKey">Comment</th>
            <th id="registKey" class="order-asc">Register time</th>
            <th id="aliveKey" class="order-asc">online</th>
        </tr>
    </thead>
    <tbody>
        {% for item in info %}
        <tr id="{{item.ip}}">
            <td><a href="{{ url_for('userip',ip=item.ip) }}">{{item.ip}}</a></td>
            <td>{{item.mac}}</td>
            <td>{{item.name}}</td>
            <td>{{item.comment}}</td>
            <td>{{item.time}}</td>
            <td class="{{item.lastdate}}">{{frequency[item.lastdate]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block script %}<script src="{{ url_for('static', filename='sort.js')}}"></script>{% endblock script %}